/*** *** *** 
CSS Style by: Zenva Academy
Modified by: Nigel Gagui
Date created: 21 September, 2019 
*** *** ***/

body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.nav {
  background-color: cadetblue;
  color: white;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0px;
}

.nav ul li {
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;
}

.nav ul li:hover {
  background-color: #3FBFBF;
  color: blue;
  text-shadow: gray 0px 0px 10px; 
}

.image-area {
  background-image:url('images/background.png');
  background-color:black;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.centered-container {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 16px;
}

.image-text {
  text-align: center;
  text-shadow: gray 3px 2px, white 0px 0px 2em;
  #background-color: black;
  color: black;
  font-size: 2.5rem;
  padding-top: 40px;
}

.intro-text {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.single-service {
  text-align: center;
  margin-bottom: 32px;
}

.single-service p {
  padding: 0px 16px;
}

.single-service img {
  box-shadow: gray 0px 0px 2em;
}

.footer {
  text-align: center;
  text-shadow: 1px 1px 0 gray, 0px 0px 10px white;
  background-color: black;
  color: red;
  max-height: 50px;
  padding: 2px;
  clear: both;
}

@media screen and (min-width: 700px) {
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }

  .single-service {
    width: 50%;
    float: left;
  }
}
